*{
    margin: 0;
    padding: 0;
}
.logo{
    height: 200px;
}



#body{
    background-color: white;
    background-image: url(Hatter.png);
    background-repeat: no-repeat;
    background-position:unset;
    background-size:cover;
}

