#hat {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
.container{
    margin-left: 5%;
    margin-right: 5%;
}
h2{
   color: orange;
   font-size: 150%;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
}
img{
    width:30%;
    height: 30%;
}
